.header {
  .header-top {
    background-color: #fff3e1;
  }
  .header-logo {
    height: 70px;
    width: auto;

    border-radius: 250px;
  }

  .header-navbar {
    text-align: center;
  }

  .header-desc {
    //background-color: ;
    background-image: url("src/assets/images/header-bg.jpeg");
    background-size: cover;
    background-position: bottom;
    height: 300px;
    position: relative;
    z-index: -1;
    span.bg-over {
      background-color: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    h1 {
      margin-top: 0;
      color: #fff5ec;
      z-index: 1;
    }
    p {
      color: #fff5ec;
      z-index: 1;
    }
  }
}
